body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    background: transparent;
    z-index: 1;
    
}

.mainContainer::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: url(../assets/fac76a264e8c30cba664d10eecb85f77.jpg) no-repeat center center/cover;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
    z-index: -1;
    filter: blur(3px);

}

.menuHeader {
    display: flex;
    width: inherit;
    height: 7vh;
    background: #009B4D;
    color: #FFCC00;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
}

form {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

#userSearch {
    width: 100%;
    padding: 0.7rem;
    display: flex;
    background: white;
    border-radius: 7px;
    border: none;
    outline: none;
    &:focus{
        border: 2px solid #FFCC00;
    }
    &::-webkit-calendar-picker-indicator {
        display: none !important;
      }
}


ul, li {
    display: flex;
    flex-direction: row;;
    text-decoration: none;
    gap: 3rem;
    font-size: 1.2rem;
}

img {
    width: inherit;
    height: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5S 0S ease;

    &:hover {
        transform: scale(1.3);
        font-size: 1.94rem;
    }
}

.mainContainer::before{
    content: '';
    position: absolute;
    width: inherit;
    height: 20vh;
    top: 7%;
    left: 0;
    background: url(https://img.travessa.com.br/vitrine/YANN.jpg) no-repeat center/cover;
    z-index: 1;
}

#mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

span {
    width: inherit;
    display: flex;  /* Adicionado */
    justify-content: center;  /* Adicionado */
    align-items: center;  /* Adicionado */
}

span > img {
    border-radius: 12px;
    background: rgba(236, 236, 236, 0.1);
    padding: 1.5rem;
    width: 200px;
    margin: auto;  /* Adicionado */
}


#content2 {
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: 1;
    background: #2BAE66 no-repeat center center/cover;
    margin-top: -100px;
}


